.fill1 {
    stroke:#fff; 
    stroke-width: 2 ;
    stroke-linecap:round ;
    stroke-linejoin:round;
}
.fill1:hover {
    stroke:#fb923c; 
    stroke-width: 2 ;
    stroke-linecap:round ;
    stroke-linejoin:round;
}
.fill2 {
    stroke:#fb923c; 
    stroke-width: 2 ;
    stroke-linecap:round ;
    stroke-linejoin:round;
}

