.App {
  text-align: center;
  background-color: #01062E;
}

.sidebar {
  height: calc(100vh - 60px);
  z-index: 1;
  top: 60px;
  left: 0;
  
  
}

.content {
  margin-top: 60px;
  background-color: #01062E;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms ease-in-out, transform 300ms ease-in-out;
}